body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    
    background-size: cover;
  }

  #background-video {
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
 }
      

  #days,#months,#years{
    size:50px;
    width:100px;
    height:30px;
    margin-right:20px;
    margin-bottom: 20px;
    border:0;
    box-shadow:0 0 20px 5px rgb(0, 0, 0);
    border-radius:10px;
    text-align: center;
  }


  #submit {
    position: relative;
    right: -100px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
 }
 #refresh{
   position: relative;
   right: -450px;
   font-size: 16px;
   font-weight: 200;
   letter-spacing: 1px;
   padding: 13px 20px 13px;
   outline: 0;
   border: 1px solid black;
   cursor: pointer;
   position: relative;
   background-color: rgba(0, 0, 0, 0);
   touch-action: manipulation;
 }

  #submit:after,#refresh:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
   position: absolute;
    height: 100%;
    top: 7px;
    left: 7px; 
    transition: 0.2s;
 }

  #submit:hover:after,#refresh:hover:after {
    top: 0px;
    left: 0px;
 }

  #funnyButton{    
   position: center;
   top:20px;
   right: 80px;
   font-size: 16px;
   font-weight: 200;
   letter-spacing: 1px;
   padding: 13px 20px 13px;
   outline: 0;
   border: 1px solid black;
   cursor: pointer;
   position: relative;
   background-color: rgba(0, 0, 0, 0);
   touch-action: manipulation;
 }

 #funnyButton:after{
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
 }

 #funnyButton:hover:after{
    top: 0px;
    left: 0px;
 }

 #values{
    position:relative;
    right:80px;
    width:400px;
    margin-top: 50px;
    color:#482307;
    background-color:#ffe54c;
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    outline: 2px solid transparent;
    text-align: center;
 }

 #astralbutton{
   position: center;
   top:20px;
   font-size: 16px;
   font-weight: 200;
   letter-spacing: 1px;
   padding: 13px 20px 13px;
   outline: 0;
   border: 1px solid black;
   cursor: pointer;
   position: relative;
   background-color: rgba(0, 0, 0, 0);
   touch-action: manipulation;
 }

 
 #astralbutton:after{
   content: "";
   background-color: #ffe54c;
   width: 100%;
   z-index: -1;
   position: absolute;
   height: 100%;
   top: 7px;
   left: 7px;
   transition: 0.2s;
}

#astralbutton:hover:after{
   top: 0px;
   left: 0px;
}

#funnyString{
   position: relative;
    height: 100%;
    top: 20px;
    left: -80px;
}

#descriptionSign, #matchDescription{
   position:center;
   width:400px;
   margin-top: 50px;
   color:#482307;
   background-color:#ffe54c;
   border: 0 solid #e5e7eb;
   border-radius: .5rem;
   cursor: pointer;
   font-size: 100%;
   font-weight: 700;
   line-height: 24px;
   outline: 2px solid transparent;
   text-align: center;
}

#zodiacMatch{
   position: relative;
   top:20px;
   font-size: 16px;
   font-weight: 200;
   letter-spacing: 1px;
   padding: 13px 20px 13px;
   outline: 0;
   border: 1px solid black;
   cursor: pointer;
   position: relative;
   background-color: rgba(0, 0, 0, 0);
   touch-action: manipulation;
 }

 #zodiacMatch:after{
   content: "";
   background-color: #ffe54c;
   width: 100%;
   z-index: -1;
   position: absolute;
   height: 100%;
   top: 7px;
   left: 7px;
   transition: 0.2s;
}

#zodiacMatch:hover:after{
   top: 0px;
   left: 0px;
}

#changeColor{
   display: inline-block;
   outline: 0;
   cursor: pointer;
   border-radius: 8px;
   box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
   background: #FFD814;
   border: 1px solid #FCD200;
   font-size: 11px;
   height: 22px;
   position:absolute; 
   left:80px;
   top: 20px;
   text-align: center;
   font-weight: 500;
   color: #0F1111;
}

#astralName, #matchName{
   padding-top: 20px;
   margin: 1em 0 0.5em 0;
	color: #343434;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	font-family: 'Orienta', sans-serif;
}
